</main>
<footer class="site-footer">
  <div class="inner">
    <p class="footer-credit">
      Desenvolvido por <span class="credit-name" translate="no">juni</span>
    </p>
  </div>
</footer>
</body>
</html>
